@charset "utf-8";

body {
	font-size: 14px;
	font-family: "PFDinDisplayProLight", Georgia;
	margin: 0px;
	font-weight: normal;
}

header {
	padding: 5px 0px;
	height: 160px;
	background-color: #ffffff;
	color: #fff;
}

header>div {
	/* margin: 20px; */
	
}

#conteudo {
	padding: 0px 8px
}

footer {
	padding: 0px 8px;
	margin-bottom: 10px
}

h1 {
	font-size: 24px;
	font-weight: 500;
	padding: 0px;
	margin: 0px;
	color: white;
	text-transform: uppercase;
}

#login-dialog {
	width: 290px;
	margin: auto;
	margin-top: 150px;
}

.grid-login {
	background-color: #f2f2f2;
	border-radius: 8px;
	border: 1px solid #ccc;
	margin-top: 8px;
	padding: 10px
}

.rotulo {
	width: 150px
}

.ui-panelgrid td {
	height: 54px;
}

.ajax-status {
	position: fixed;
	top: 55px;
	right: 10px;
	width: 35px;
	height: 35px
}

a:hover {
	color: #a50d12;
	text-decoration: none;
}

.ui-datatable thead th {
	background: #c4c4c4;
	height: 35px;
	-webkit-gradient: (linear, left top, left bottom,
		from(rgba(255, 255, 255, 0.3)), to(rgba(255, 255, 255, 0.3)))
		!important;
}

.ui-paginator.ui-paginator-bottom {
	background: #c4c4c4;
	height: 25px;
	-webkit-gradient: (linear, left top, left bottom,
		from(rgba(255, 255, 255, 0.3)), to(rgba(255, 255, 255, 0.3)))
		!important;
}